.clubguide-container {
  margin-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  font-size: large;
}

.BallPlacementImg {
  margin-left: 20px;
  display: flexbox;
  max-width: 75vmin;
}
