.title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.course-name{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.totals {
  color: darkgreen;
  padding: 10px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tables-container {
  border: 1px solid black;
  margin: 20px 0;
  border-collapse: collapse;
  width: 100%;
}

.tables-head th,
.tables-body td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.tables-head th {
  border-bottom: 2px solid black;
  background-color: #f2f2f2;
}

.tables-body tr:last-child td {
  border-bottom: none;
}
