
.app{
  background-color: rgb(241, 223, 201);
}

.menu {
  display: grid, '\f037';
  text-align: center;
}

.menu button {
  font-weight: bolder;
  color: green;
  height: 10vmin;
  width: 30vmax;
  margin-top: 5vmin;
  background-color: white;
  border-radius: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.scorecardcomponent {
 margin-left: 10px;
 border-top: 2px;
 margin-right: 10px;
}

.clubguidecomponent{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
